<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechPaths</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="navbar navbar-expand-md py-1 navbar-dark bg-primary justify-content-center">
        <div class="container">
            <a href="/" class="navbar-brand">
              <img src="/images/TechPaths_Transparent.png" alt="TechPaths logo">
            </a>
            <button 
            class="navbar-toggler mb-2" 
            type="button" 
            aria-label="open menu"
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                  <% if (!user) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                      <a href="/signup" class="nav-link">Signup</a>
                  </li>
                  <% } else { %>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>

<!-- User info section -->
<section class="p-3 text-small-start">
  <div class="container">
    <h1><%= user.userName %>'s TechPath</h1>
    <div class="d-sm-flex row align-items-center">
      <img class="img-thumbnail w-25" src="/images/lost.png">
      <div class="mt-5 w-50">
          <p><strong>User Name</strong>: <%= user.userName %></p>
          <p><strong>Email</strong>: <%= user.email %></p>
          <p><strong>Former Industry</strong>: <%= user.industry %></p>
          <p><strong>Next Milestone Goal</strong>: <%= user.goal %></p>
          <p><strong>GitHub</strong>: <a href="<%= user.github %>" target="_blank"><%= user.github %></a></p>
          <p><strong>LinkedIn</strong>: <a href="<%= user.linkedin %>" target="_blank"><%= user.linkedin %></a></p>
      </div>
    </div>
  </div>
</section>

<!-- Milestone render -->
<section>
    <div class="container">
      <div class="mt-5">
        <h2>Tech Career Milestones</h2>
      </div>
      <div class="card mb-2">
        <% for (let i=0; i<milestones.length; i++) { %>
        <div class="card-header text-light 
        <% if(milestones[i].category === 'Education') { %> 
          bg-warning 
          <% } else if (milestones[i].category === 'Community') { %> 
            bg-success 
          <% } else if (milestones[i].category === 'Employment') { %>
            bg-primary
         <% } else { %> 
            bg-info 
            <% } %> ">
          <%= milestones[i].year %> - <%= milestones[i].category %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= milestones[i].eventType %></p>
            <footer class="blockquote-footer"><%= milestones[i].userNotes %></footer>
          </blockquote>
        </div>
        <% } %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary m-3 col-2" href="/">Return Home</a>
      <a href="/logout" class="col-2 btn btn-primary m-3">Logout</a>
    </div>  

  </section>
  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/SchipThatCode"
          role="button"
          aria-label="visit twitter"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/rachelschipull/"
          role="button"
          aria-label="visit linkedin"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/rachelschipull"
          role="button"
          aria-label="visit github"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://rachelschipull.com">Schipull Web Development</a>
    </div>
    <!-- Copyright -->
  </footer>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>